@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-50: 210, 20%, 99%;
  --primary-100: 210, 16%, 97%;
  --primary-200: 210, 22%, 91%;
  --primary-300: 213, 19%, 80%;
  --primary-400: 216, 15%, 74%;
  --primary-500: 220, 9%, 52%;
  --primary-600: 220, 11%, 41%;
  --primary-700: 220, 13%, 31%;
  --primary-800: 220, 13%, 26%;
  --primary-900: 213, 12%, 15%;
  --primary-950: 213, 12%, 11%;

  --background: 60, 66%, 92%;
}
